footer {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.social-link {
  margin-right: 20px;
}

.social-link:last-child {
  margin-right: 0;
}