.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

a.nav-item {
  margin-right: 30px;
  border-bottom: 2px solid $nav-color;
  font-weight: 500;
  letter-spacing: 1px;

  &:last-child {
    margin-right: 0px;
  }

  &--is-active {
    border-bottom: 3px solid $active-color;
    color: $active-color;
  }
}

@media screen and (max-width: 590px) {
  .nav-list {
    display: flex;
    flex-direction: column;
  }

  a.nav-item {
    width: 100%;
    margin-right: 0px;
    padding: 10px 0;
    border: 2px solid $nav-color;
    border-bottom: none;
    text-align: center;
    width: 100%;

    &:first-child {
      margin-top: 0
    }

    &:last-child {
      border: 2px solid $nav-color;
    }
  }
}

