.project {
  &__info {
    text-align: center;
    margin-bottom: 2rem;
  }

  &-button {
    box-shadow: 20px 25px 34px -26px;
    border: solid 3px black;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-right: 8px;

    &:hover {
      cursor: pointer;
    }
  }
}

