$body-background:    #f7f7f7;
$body-color:         #3b3b3b;
$paragraph-color:    #747474;
$font-stack:         'Roboto', sans-serif;
$header-font-stack:  'Lato', sans-serif;
$nav-color:         #848484;
$active-color:       #33a1cc;
$header-color:       #3b3b3b;
$body-font-weight:    300;
$body-font-size:      18px;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,700,500|Lato:400,300,700,900');
@import 'fonts';
@import 'header';
@import 'nav';
@import 'projects';
@import 'project-details';
@import 'skills';
@import 'footer';
@import 'contact';


body {
  background-color: $body-background;
  margin-top: 30px;
  color: $body-color;
}

.container {
  margin: 0 auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &--project {
    height: 252px;
  }
}

.about-image {
  float: left;
  margin-right: 1%;
}

.text-bold {
  font-weight: bold;
}

@media only screen and (min-width: 1200px ) {
  .container {
    width: 1170px;
  }

}






